body
{
    font-family:'segoe ui';
}
button
{
    cursor: pointer;
}
ul
{
    list-style-type: none;
}
.container{
    margin:auto;
    width:90%;
}
.header
{
    margin: 35px auto 10px auto;
    width:1272px;
}
.logo
{
    display: inline-block;
}
.heading
{
    display: inline-block;
    margin-left:20px;
}
.sub-heading
{
    margin:0;
    margin : 0px 0px 0px 10px;
    font-weight: lighter;
    font-size:20px;
}
.heading h1 
{
    color:#01b0fc;
    font-weight:350;
    margin : 0px 0px 0px 10px;
    font-size:37px;
}
.welcome-user
{
    float:right;
    font-size:22px;
    font-weight:lighter;
    margin:0;
}
.welcome
{
    color:rgb(1, 176, 252);
    font-weight:350;
    margin:inherit;
    display: inline-block;
}
.username
{
    display: inline-block;
    margin:inherit;
    font-weight: inherit;
}
.img-andrew
{
    display:inline-block;
    margin-bottom: -2px;
}
.header-seperator
{
    width:1272px;
    margin: 0px auto 0px auto;
    border-top: 0.01px solid rgb(173, 173, 173,0.5);
}
.body-container
{
    width:1272px;
    margin:auto;
}
.side-navbar
{
    width:300px;
    height:600px;
    margin: 35px 0px 0px 0px;
    float:left;
}
.side-navbar li
{
    width: fit-content;
    padding: 0px 2px 2px 1px;
}

.side-navbar h4,a
{
    margin:0;
    text-decoration:none;
    color:black;
}
.side-navbar a
{
    cursor: pointer;
}
.departments-list
{
    margin: 0px 0px 35px 0px;
    padding: 5px;

}
.offices-list
{
    margin: 0px 0px 35px 0px;
    padding: 5px;
}
.jobtitles-list
{
    margin: 0px 0px 5px 0px;
    padding: 5px;
}
.view-more
{
    text-decoration:none;
    color:#01b0fc;
    font-size:14px;
    font-weight: 500;
    margin-left:3px;
}
.main-container
{
    display: inline-block;
    width: 970px;
    margin-top: 20px;
}
#alphabeticalSearch
{
    width:1000px;
    margin-top:20px;
}
.alpha-button
{
    background-color:#01b0fc;
    color:white;
    border:1px solid white;
    font-family:'segoe ui';
    font-weight: 500;
    padding:6px;
    width:36px;
}
#personButton
{
    font-family: 'Font Awesome 5 Free';
    padding-bottom: 7px;
    padding-top: 8.5px;
}
.search-keyword
{
    display:inline-block;
    margin-top: 25px;
}
.search-label
{
    font-weight: 500;
    margin-right:5px;
}
.search-input
{
    display:inline-block;
    height:30px;
    width: 215px;
    margin:1px 20px 0px 0px;
    font-size:13px;
    padding-left:10px;
    font-family: 'Segoe UI', 'Font Awesome 5 Free';
}
.reset-btn
{
    height:36px;
    width:80px;
    background-color: rgb(105,186,0);
    color:white;
    font-family: inherit;
    padding-bottom: 3px;
    border:none;
    cursor:pointer;
}
.filter-by
{
    display: inline-block;
    margin-left:30px;
}
.filter-label
{
    font-weight: 500;
    margin-right:5px;
}
.filter-input
{
    height:30px;
    width: 145px;
}
.add-employee
{
    float:right;
    margin-top: 25px;
}
.emp-btn
{
    background-color:#01b0fc;
    color:white;
    font-family:'Segoe ui';
    width: 125px;
    height: 33px;
    border:none;
    font-weight:600;
}
.note
{
    font-size: 11.9px;
    margin: 15px 10px 15px 0px;
}
.employee-list
{
    width: 960px;
    border: 0.1px solid rgb(128, 128, 128,0.3);
    height: 400px;
    padding: 20px 0px 0px 5px;
}
.employee-card
{
    width: 206px;
    background-color: rgb(223, 222, 222);
    height: 60px;
    padding: 10px;
    display: inline-block;
    margin: 0px 0px 10px 10px;
}
.emp-img
{
    display: inline-block;
}
.emp-img img
{
    
    height: 60px;
    width: 60px;
}
.emp-details
{
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}
.emp-details h5,p
{
    width: 135px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} 
.emp-name
{
    margin: -3px 0px 2px 0px;
    color:rgb(73, 73, 73);
}
.employee-card p
{
    margin: 0;
    font-size:12px;
    color:rgb(100, 100, 100);
}
.extras
{
    font-family: 'Font Awesome 5 Free';
    font-size: 12px;
    margin: 2px 0px 0px 0px;
    color: rgb(100, 100, 100);
}
.popup
{
    position: absolute;
    display: none;
    width: 600px;
    height: fit-content;
    margin: -38% 0% 0% 30%;
    padding: 10px;
    background-color: #e3e8dd;
    border-radius:6px;
}
.left
{
    display: inline-block;
    width: 42%;
    margin-right: 8px;
    margin-left: 11px;
}
.add-emp-form label
{
    position: absolute;
    height: 19.5px;
    z-index: 1;
    
}
.add-emp-form label:after {
    content: " ";
    background-color: #fff;
    border-radius:10px;
    width: 100%;
    height: 11px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}
label {
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    margin-left:10px;
}
.right
{
    display: inline-block;
    width: 42%;
    margin-left: 30px;
}
.add-emp-form
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    border:none;
    
}
.popup input
{
    height: 25px;
    margin: 10px 5px 0px 5px;
    padding: 7px 3px 3px 10px;
    width: 225px;
    border-radius: 6px;
    border: 1px solid gray;
}
.popup select
{
    height: 38px;
    margin: 10px 5px 0px 5px;
    padding: 3px 3px 3px 10px;
    width: 240px;
    border-radius: 6px;
    border: 1px solid gray;
}
.popup span
{
    width:20px;
    color:white;
    margin-left: 5px;
}
.add-btn
{
    background-color: #01b0fc;
    color:white;
    font-family:'Segoe ui';
    width: 125px;
    height: 35px;
    border:none;
    font-weight:600;
    border-radius:6px;
    margin:10px;
}
.add-btn:hover
{
    color: #01b0fc;
    background-color:white;
    border:2px solid #01b0fc;
}
.buttons
{
    margin: 25px 0px 15px 0px;
    float: right;
}
.cancel-btn
{
    background-color: rgb(212, 9, 9);
    color:white;
    font-family:'Segoe ui';
    width: 125px;
    height: 35px;
    border:none;
    font-weight:600;
    border-radius:6px;
    margin:10px;
}
.cancel-btn:hover
{
    color: rgb(212, 9, 9);
    background-color:white;
    border:2px solid rgb(212, 9, 9);
}
.add-emp-form h7
{
    font-size: 10px;
    font-weight: 600;
    margin-left: 6px;
}
.add-emp-heading
{
    text-align: center;
    color: black;
}
.seperator 
{
    border-bottom:1px solid rgb(128, 128, 128,0.5);
    margin:0 10px 0 10px;
}
.error
{
    color:red;
    display:none;
}

.close-btn
{
    float: right;
    margin: -45px 40px 0px 0px;
    height:16px;
    width:16px;
    cursor: pointer;
    border:1px solid rgb(0,0,0,0.4);
    padding:2px;
    border-radius:3px;
}